.App {
    width: 100vw;
    height: 100vh;
}

.view-toolbar .fa {
    margin-right: 1em;
}

.sidebar {
    background-color: #2A2B2E;
    user-select: none;
    /* background-color: rgba(0,90,0,255); */
}

.sidebar .fa {
    margin-right: 5px;
}

.sidebar .fa.folder:hover {
    color: #3F8BE9;
}

.sidebar ul .fa {
    font-size: 80%;
    vertical-align: 1px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0.3em 0 0 0;
    padding: 0 0 0 1em;
}

.sidebar ul li {
    margin: 0.5em 0 0 0;
}

.sidebar ul span.disabled {
    cursor: default;
    color: #999;
}

.sidebar ul span.file-clickable:hover,
.sidebar ul span.folder-clickable:hover {
    cursor: default;
    background-color: #666;
}

.content .page {
    font-size: 11pt;
    line-height: 1.5em;
    background-color: #2C2C2C;
}

.content .page.read {
    padding: 4em 6em;
    margin: 2em auto;
    box-shadow: 5px 5px 20px #2a2a2a; 
    max-width: 700px;
}

.content .page.preview {
    padding: 2em;
}

.content .page .CodeMirror {
    box-sizing: border-box;
    height: 100% !important;
}

.content .page .CodeMirror-selected {
    background:#335 !important;
}
