.App .sidebar {
    width: 20%;
    display: inline-block;
    overflow: hidden;
    margin-top: 1em;
}

.App .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1em;
}

.App .sidebar ul li {
    padding-bottom: 0.5em;
}

.App .content {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.App .content .page {
    font-size: 11pt;
    line-height: 1.5em;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 2em 6em;
    margin: 2em auto;
    box-shadow: 5px 5px 20px #2a2a2a;
    background-color: #2C2C2C;
}

.App .content input.revisions {
    direction: rtl;
    width: 400px;
    margin: 0 auto;
    display: inline-block;
}